
<body >
    <div>
   <h1>Single Product</h1>
    <p ><%=  product.title %></p>
    <% product. profile_pic.forEach(image => { %>
<img src="<%= imgage %>" alt="<%= product.title %>">
   <% }) %>
    <p><%=  product.price %></p>
    
     
    </div>
</body>

</html>